# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/

# VS Code settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.cache/

# MyPy & coverage
.mypy_cache/
coverage.xml
htmlcov/
*.cover

# Build/dist files
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
